In [366]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML # dùng để hiển thị 
%matplotlib inline 
import helper

#All the header files required for the code
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
import random

In [367]:
#Importing both the file using pandas 
movies = pd.read_csv('movies data/movies data.csv')
ratings = pd.read_csv('movies data/ratings data.csv')
users = pd.read_csv('movies data/users data.csv')
#Deleting unnecessary columns
movies = movies.drop('Unnamed: 0',axis = 1)
ratings = ratings.drop(['Unnamed: 0','Timestamp'],axis = 1)
users = users.drop(['Unnamed: 0'],axis = 1)

print('Ratings:',len(ratings))
print('Users:',len(users))
print('Movies:',len(movies))

Ratings: 1000209
Users: 6040
Movies: 3883

In [368]:
#Merging both the dataframes
data = pd.merge(ratings , users , how='outer', on='UserID')
data.head()

,UserID,MovieID,Rating,gender,age,occupation,zipcode,age_desc,occ_desc
0,1,1193,5,F,1,10,48067,Under 18,K-12 student
1,1,661,3,F,1,10,48067,Under 18,K-12 student
2,1,914,3,F,1,10,48067,Under 18,K-12 student
3,1,3408,4,F,1,10,48067,Under 18,K-12 student
4,1,2355,5,F,1,10,48067,Under 18,K-12 student

In [369]:
# Now there is no use of genre 
# Since we have movie id so there is no need for movie names as well

data = data.drop(['gender','age','occupation','zipcode','age_desc','occ_desc'],axis =1)
data = pd.pivot_table(data, index='UserID', columns= 'MovieID', values='Rating')
data.head(50)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
10,5.0,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4.0,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3.0,NaN,2.0,3.0,5.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,5.0,NaN,NaN,NaN,NaN,5.0,4.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,4.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,4.0,3.0,NaN,NaN,3.0,4.0,4.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
49,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [370]:
# Example of get Mean
np.nanmean(data, axis = 1)

array([4.18867925, 3.71317829, 3.90196078, ..., 3.8       , 3.87804878,
       3.57771261])

In [371]:
# Example of get Mean by dataFrame
data.mean(axis=1)

UserID
1       4.188679
2       3.713178
3       3.901961
4       4.190476
5       3.146465
          ...
6036    3.302928
6037    3.717822
6038    3.800000
6039    3.878049
6040    3.577713
Length: 6040, dtype: float64

In [372]:
# indices for vector
def specified_rating_indices(u):
    return list(map(tuple, np.where(np.isfinite(u))))

def mean(u):
    # may use specified_rating_indices but use more time
    specified_ratings = u[specified_rating_indices(u)]#u[np.isfinite(u)]
    m = sum(specified_ratings)/np.shape(specified_ratings)[0]
    return m

def all_user_mean_ratings(ratings_matrix):
    return np.array([np.nanmean(ratings_matrix[u, :]) for u in range(ratings_matrix.shape[0])])

def get_mean_centered_ratings_matrix(ratings_matrix):
    users_mean_rating = all_user_mean_ratings(ratings_matrix)
    mean_centered_ratings_matrix = ratings_matrix - np.reshape(users_mean_rating, [-1, 1])
    return mean_centered_ratings_matrix

# Ta có được ma trận sau khi đã trừ đi trung bình ratings như sau:
# mean_centered_ratings_matrix = pd.DataFrame(get_mean_centered_ratings_matrix(data.values))

# Trừ Bias by DF
mean_centered_ratings_matrix = data.sub(data.mean(axis=1), axis=0)
mean_centered_ratings_matrix.head(20)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.811321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,-1.146465,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.098592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,-0.322581,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.115108,NaN,NaN,-0.884892,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.264151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.735849,NaN,NaN,NaN,NaN
10,0.885287,0.885287,NaN,NaN,NaN,NaN,-0.114713,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.114713,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,-0.388889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.388889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,0.676617,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.323383,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0.350820,-1.649180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.350820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1.427451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.427451,...,NaN,NaN,NaN,NaN,NaN,0.427451,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
#WE simply drop the null values coz the are not treatable
# data.dropna(inplace= True)
mean_centered_ratings_matrix.fillna(0,inplace=True)
mean_centered_ratings_matrix.head(20)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.811321,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
5,0.000000,0.000000,0.0,0.000000,0.0,-1.146465,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
6,0.098592,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
7,0.000000,0.000000,0.0,0.000000,0.0,-0.322581,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
8,0.115108,0.000000,0.0,-0.884892,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
9,1.264151,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,-0.735849,0.0,0.0,0.0,0.0
10,0.885287,0.885287,0.0,0.000000,0.0,0.000000,-0.114713,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,-0.114713,0.0,0.0,0.0,0.0
11,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
12,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
13,0.000000,-0.388889,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,-0.388889,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
14,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
15,0.000000,0.000000,0.0,0.000000,0.0,0.676617,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,-0.323383,0.0,0.0,0.0,0.0
16,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
17,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
18,0.350820,-1.649180,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,1.350820,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
19,1.427451,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,1.427451,...,0.0,0.0,0.0,0.0,0.0,0.427451,0.0,0.0,0.0,0.0
20,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [381]:
kmeanModel = KMeans(n_clusters=3).fit(mean_centered_ratings_matrix)
centroids = kmeanModel.cluster_centers_
print(centroids)

[[ 0.08660333 -0.01233523 -0.01731432 ...  0.00221606  0.00490016
   1.        ]
 [ 0.38995741 -0.11142994 -0.07603288 ...  0.00220482  0.02046209
   1.44840887]
 [ 0.79309049 -0.2353619  -0.21806616 ...  0.00625231  0.08711635
   1.99107143]]

In [382]:
# Creating an extra column in data for storing the cluster values
mean_centered_ratings_matrix['Cluster'] = kmeanModel.labels_
mean_centered_ratings_matrix['Cluster'].sample(n=10)

UserID
3238    0
4395    0
3358    1
4748    1
2120    0
3469    1
1077    0
1714    1
3630    1
843     0
Name: Cluster, dtype: int32

In [383]:
# chỉ là Cluster rating -> cần tìm cluster user dựa trên rating
mean_centered_ratings_matrix['Cluster'].value_counts()

0    4779
1    1037
2     224
Name: Cluster, dtype: int64

In [384]:
mean_centered_ratings_matrix.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3944,3945,3946,3947,3948,3949,3950,3951,3952,Cluster
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.811321,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,0.000000,0.0,0.0,0.0,0.0,-1.146465,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [385]:
# mean_centered_ratings_matrix['UserID'] = mean_centered_ratings_matrix.index + 1
# mean_centered_ratings_matrix.set_index(['UserID', 'Cluster'], inplace=True)
mean_centered_ratings_matrix = pd.DataFrame(mean_centered_ratings_matrix, columns=['Cluster'])
mean_centered_ratings_matrix.head()

        Cluster
UserID
1             0
2             0
3             0
4             0
5             0

In [394]:
cluster0 = mean_centered_ratings_matrix[mean_centered_ratings_matrix['Cluster'] == 2] # for testing
cluster1 = mean_centered_ratings_matrix[mean_centered_ratings_matrix['Cluster'] == 1]
cluster2 = mean_centered_ratings_matrix[mean_centered_ratings_matrix['Cluster'] == 2]
cluster0.head()

        Cluster
UserID
53            2
192           2
195           2
202           2
245           2

In [395]:
# SVD ------------------------------------------------------------------------

In [396]:
# I Dont know why always the column name shift according to its will :(
# Here just the column names are swapped
# u.rename(columns = {0:'UserID',1:'Cluster'},inplace=True)
# u.drop_duplicates(inplace=True)

In [397]:
ratings = pd.read_csv('movies data/ratings data.csv')
# ratings = pd.pivot_table(ratings, index='UserID', columns= 'MovieID', values='Rating')


new_data = pd.merge(cluster0 , ratings , how='left', on='UserID')
cluster0_user_item_matrix = new_data.drop(['Cluster'],axis = 1)
# new_data = new_data.drop(['Unnamed: 0','Timestamp','Cluster'],axis = 0)
cluster0_user_item_matrix = pd.pivot_table(new_data, index='UserID', columns= 'MovieID', values='Rating')

cluster0_user_item_matrix.columns.name = 'MovieID'



print(cluster0_user_item_matrix.shape)
cluster0_user_item_matrix.head()

(224, 3493)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
53,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
195,5.0,3.0,NaN,NaN,NaN,2.0,NaN,4.0,NaN,NaN,...,4.0,NaN,NaN,3.0,NaN,4.0,5.0,4.0,5.0,NaN
202,4.0,NaN,3.0,NaN,3.0,4.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [398]:
# These were the movies we deleted while merging the file  
cluster0_user_item_matrix.isnull().sum()

MovieID
1        32
2        85
3       135
4       188
5       155
       ...
3948    129
3949    173
3950    210
3951    220
3952    174
Length: 3493, dtype: int64

In [399]:
row, col = cluster0_user_item_matrix.shape
n_users = row
n_movies = col
print ('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 224 | Number of movies = 3493

In [400]:
# R = mean_centered_ratings_matrix
# print(R)
# Ratings_demeaned = R;

# 1 cách khử bias khác
# user_ratings_mean = np.mean(R, axis = 1)
# Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)
# print(Ratings_demeaned)

In [401]:
sparsity = round(1.0 - len(cluster0_user_item_matrix) / float(n_users * n_movies), 3)
print ('The sparsity level of MovieLens1M dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of MovieLens1M dataset is 100.0%

In [402]:
# raise SystemExit("Stop right there!")

In [403]:
# # Bias của matrix cluster 0 - cách 1
# cluster0_ratings_mean = np.nanmean(cluster0_user_item_matrix, axis = 1)
# print(cluster0_ratings_mean)

In [404]:
# # Bias của matrix cluster 0  - cách 2
# cluster0_ratings_mean = all_user_mean_ratings(cluster0_user_item_matrix.values)
# print(cluster0_ratings_mean)

In [405]:
# Bias của matrix cluster 0  - cách 3
cluster0_user_item_matrix.mean(axis=1)

UserID
53      4.236842
192     3.091429
195     3.889294
202     3.249254
245     2.671466
          ...
5888    3.183144
5954    3.290000
5964    3.779599
6016    3.189219
6036    3.302928
Length: 224, dtype: float64

In [479]:
# Fill NaN để chạy SVD
cluster0_ratings = cluster0_user_item_matrix.copy()
cluster0_ratings.fillna(0,inplace=True)
cluster0_ratings.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [481]:
cluster0_ratings.loc[195]

MovieID
1       5.0
2       3.0
3       0.0
4       0.0
5       0.0
       ...
3948    4.0
3949    5.0
3950    4.0
3951    5.0
3952    0.0
Name: 195, Length: 3493, dtype: float64

In [407]:
# Khử Bias của matrix cluster 0 và chia cho SD 
cluster0_ratings_demeaned_scaled = cluster0_ratings.sub(cluster0_ratings.mean(axis=1), axis=0)/cluster0_ratings.std()
cluster0_ratings_demeaned_scaled.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
53,-0.489034,2.593175,-0.571874,-0.861164,-0.619864,-0.423009,-0.535428,-1.272208,-0.965891,-0.478035,...,-0.936603,-3.330392,-3.141501,-1.319115,-0.961246,-0.449425,-0.436140,-0.865355,-1.525088,-0.508254
192,-0.273879,-0.288922,-0.320273,-0.482287,-0.347149,2.312389,1.636216,-0.712489,0.623263,0.884646,...,-0.524536,-1.865158,-1.759370,-0.738759,-0.538338,-0.251696,2.384174,-0.484635,-0.854113,-0.284643
195,2.407708,1.296321,-0.630877,-0.950014,-0.683818,0.553064,-0.590671,4.730173,-1.065546,-0.527356,...,3.482365,-3.674004,-3.465624,3.314630,-1.060423,1.670998,2.147291,3.217460,7.508612,-0.560693
202,1.990392,-0.387543,1.638268,-0.646913,1.775745,1.721666,-0.402218,-0.955692,-0.725585,1.945627,...,-0.703583,-2.501816,-2.359920,-0.990930,-0.722096,-0.337611,-0.327632,-0.650061,-1.145658,-0.381804
245,-0.344416,1.502108,-0.402759,-0.606499,-0.436557,-0.297916,-0.377091,-0.895989,-0.680256,1.391878,...,-0.659629,-2.345525,-2.212492,-0.929025,-0.676985,-0.316520,-0.307164,-0.609451,-1.074087,-0.357952

In [408]:
cluster0_ratings_demeaned_scaled.shape

(224, 3493)

In [469]:
import numpy as np                                                                             
from scipy import linalg
from scipy.sparse import linalg as slinalg

u, s, v = np.linalg.svd(cluster0_ratings_demeaned_scaled)

In [470]:
print(len(u))
print(len(s))
print(len(v)) 
# all_user_predicted_ratings = np.dot(np.dot(v,s), u)
all_user_predicted_ratings = np.dot(u, s)

224
224
3493

In [471]:
print(len(all_user_predicted_ratings))

224

In [472]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(cluster0_ratings_demeaned_scaled, k = 100)

In [473]:
print(len(U)) 
print(len(sigma))
print(len(Vt))

224
100
100

In [474]:
sigma = np.diag(sigma)
# print(len(sigma))
# print(cluster0_user_item_matrix.mean(axis=1))
cluster0_ratings_mean_without_nan = cluster0_user_item_matrix.mean(axis=1)
print(len(cluster0_ratings_mean_without_nan))
# cluster0_ratings_mean_without_nan.to_numpy()

224

In [475]:
# all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + cluster0_ratings_mean_without_nan.reshape(-1, 1)
# all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + np.reshape(cluster0_ratings_mean_without_nan, [-1, 1])
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

print(all_user_predicted_ratings.shape)
print(all_user_predicted_ratings)

(224, 3493)
[[-0.42749415  2.79152501 -0.56393806 ... -0.96160064 -1.55273004
  -0.82099608]
 [ 1.70968134  0.11180122 -0.08573578 ... -0.57144641 -0.78943142
   0.17156371]
 [ 2.26533875  1.2627463  -0.68921699 ...  3.25810793  7.46237723
  -0.41538722]
 ...
 [ 3.14379125 -0.4875435  -0.88579836 ... -1.01600751 -1.04715488
  -0.35679679]
 [ 2.13623008 -0.07225131  1.00497445 ... -1.15076095 -1.37296675
  -0.49749026]
 [-0.27789999 -0.81327427 -0.71986835 ... -0.86445436 -1.61062989
  -0.60062047]]

In [486]:
print(cluster0_user_item_matrix.shape)
preds = pd.DataFrame(all_user_predicted_ratings, index = cluster0_ratings.index, columns = cluster0_ratings.columns)
preds.sample(224)

(224, 3493)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
6036,-0.277900,-0.813274,-0.719868,1.070482,-0.671481,1.072238,-0.662313,-1.305475,-1.047684,-0.595818,...,-0.865966,-3.332434,-3.292207,-1.651312,-0.726058,-0.609257,-0.624655,-0.864454,-1.610630,-0.600620
3513,1.951371,0.435562,0.126949,-0.372464,-0.047713,0.790568,-0.078356,-0.525222,0.005783,0.623127,...,-0.356487,-1.285613,-1.108024,-0.430856,-0.558243,0.117243,0.190751,-0.488559,-0.504354,-0.226749
5433,-0.914799,1.317180,-1.547116,-0.144104,-0.372539,0.398523,-0.147140,-1.023076,-0.350048,0.705116,...,-0.860788,-2.279961,-1.596273,-0.293852,-0.852593,1.655340,-0.175375,-1.001182,-1.124036,0.501391
4448,1.566445,1.184918,-0.820808,-1.264744,-0.752567,1.542543,-0.395211,-2.025083,-1.300139,1.287970,...,-1.310357,-4.958594,-4.465949,3.025139,3.968746,1.540187,1.097997,2.490607,-2.189839,2.507513
3778,2.000099,1.054392,1.659600,0.151255,1.299530,2.019630,-0.006701,0.986920,0.564781,0.764302,...,-0.425265,-2.732079,-2.820328,-0.909414,-0.801789,0.160520,-0.443881,-1.013262,-1.382799,-0.697522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,2.152671,0.369455,0.054480,-0.980805,0.096158,0.945768,0.161747,-1.196594,-0.484282,1.060304,...,0.104602,-2.257019,-2.004786,-0.126288,-0.446682,1.208588,0.984862,-0.645446,-0.957936,1.183190
5046,2.719918,0.893739,-0.252764,-0.569363,-0.590743,1.826094,-0.470868,-1.133618,0.710546,1.808981,...,-1.045255,-3.615650,-3.370644,-1.425153,-0.338713,0.403474,-0.066817,-0.833723,-1.551598,-0.150713
5256,1.505771,0.600977,1.075387,0.469328,1.472247,1.866496,2.058729,-0.953187,-0.259589,1.690762,...,-0.306127,-3.315388,-2.696416,-1.721172,-0.630148,-0.611674,0.067429,-0.207752,-1.177923,-0.663614
3942,1.309796,0.395866,-0.150847,-0.723551,-0.371322,1.062783,-0.330974,-0.611264,-0.515496,0.603989,...,-0.567005,-1.845968,-1.607624,-0.721767,-0.385120,0.098996,0.010517,-0.066243,-0.358232,-0.029975
192,1.709681,0.111801,-0.085736,-0.178742,-0.117637,1.837762,0.237198,-0.604134,0.375950,1.400521,...,-0.860937,-2.001081,-1.733181,-0.564567,-0.428271,0.309290,0.339361,-0.571446,-0.789431,0.171564

In [493]:
from sklearn.metrics.pairwise import cosine_similarity
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(preds)
np.fill_diagonal(cosine, 0 )
# similarity_with_movie =pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie = pd.DataFrame(cosine, index = cluster0_ratings.index)
similarity_with_movie.columns=cluster0_ratings.index
similarity_with_movie.head()

UserID,53,192,195,202,245,272,284,302,308,319,...,5812,5824,5831,5880,5886,5888,5954,5964,6016,6036
UserID,,,,,,,,,,,,,,,,,,,,,
53,0.000000,0.790321,0.644189,0.758971,0.804670,0.787412,0.771947,0.767538,0.811952,0.734341,...,0.711732,0.814611,0.762716,0.791748,0.818079,0.757881,0.742481,0.708537,0.684459,0.714789
192,0.790321,0.000000,0.726258,0.919323,0.901805,0.947151,0.897376,0.942477,0.950137,0.870738,...,0.797971,0.957474,0.865622,0.915370,0.949890,0.881318,0.822182,0.822717,0.777744,0.790905
195,0.644189,0.726258,0.000000,0.684348,0.734425,0.708728,0.707490,0.699699,0.741079,0.674257,...,0.628992,0.725830,0.695962,0.713452,0.732824,0.691309,0.677091,0.634110,0.641085,0.643810
202,0.758971,0.919323,0.684348,0.000000,0.880566,0.892622,0.847504,0.925906,0.892963,0.836031,...,0.782609,0.924864,0.825312,0.869595,0.874632,0.876694,0.786057,0.791112,0.740656,0.736859
245,0.804670,0.901805,0.734425,0.880566,0.000000,0.891107,0.913745,0.889671,0.931216,0.847670,...,0.771927,0.929894,0.889306,0.898045,0.915023,0.885056,0.881142,0.786267,0.785862,0.786451

In [ ]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.UserID == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )

    print ('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print ('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [ ]:
# already_rated, predictions = recommend_movies(preds, 1310, movies, ratings, 20)
already_rated, predictions = recommend_movies(preds, 8, movies, ratings, 20)

In [ ]:
# Top 20 movies that User 1310 has rated 
already_rated.head(20)

In [ ]:
# Top 20 movies that User 1310 hopefully will enjoy
predictions

In [ ]:
def __pred(self, u, i, normalized = 1):
        """ 
        predict the rating of user u for item i (normalized)
        if you need the un
        """
        # Step 1: find all users who rated i
        ids = np.where(self.Y_data[:, 1] == i)[0].astype(np.int32)
        # Step 2: 
        users_rated_i = (self.Y_data[ids, 0]).astype(np.int32)
        # Step 3: find similarity btw the current user and others 
        # who already rated i
        sim = self.S[u, users_rated_i]
        # Step 4: find the k most similarity users
        a = np.argsort(sim)[-self.k:]
        # and the corresponding similarity levels
        nearest_s = sim[a]
        # How did each of 'near' users rated item i
        r = self.Ybar[i, users_rated_i[a]]
        if normalized:
            # add a small number, for instance, 1e-8, to avoid dividing by 0
            return (r*nearest_s)[0]/(np.abs(nearest_s).sum() + 1e-8)

        return (r*nearest_s)[0]/(np.abs(nearest_s).sum() + 1e-8) + self.mu[u]

In [ ]:
# Step 1: find all users who rated i
ids = np.where(cluster2_user_movie_ratings[:, 1] == 163)[0].astype(np.int32)